@import "tailwindcss";

@layer base {
  html, body, #__next {
    height: 100%;
  }

  body {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  }
}

@layer components {
  .hero-title {
    font-weight: 900;
  }
}
